:root {
  --primary: #f05122;
  --primary-light: #ee7652;
  --secondary: #337ab7;
  --danger: #ee2d2d;
  --success: #3dbc59;
  --white: #ffffff;
  --black: #191a1b;
  --light-black: #656263;
  --background: #f7f8fa;
  --gray: #aaaeb2;
  --gray-light: #a8a8a8;
  --link: #f05122;
  --link-dark: #2a5cb1;
}

// Custom Bulma Color
$primary: #f05122;
$link: #f05122;
$success: #3dbc59;
$warning: #f4762f;
$danger: #ee2d2d;

// Basic Colors
$color-white: #ffffff;
$color-black: var(--black);
$color-light-black: var(--light-black);
$color-green: var(--success);
$color-red: var(--danger);
$color-warning: #f4762f;
$color-warning-light: #f9eaad;

$color-black-900: #191a1b;
$color-black-800: #363839;
$color-black-700: #535557;
$color-black-600: #707376;
$color-black-500: #8d9094;
$color-black-400: #aaaeb2;
$color-black-300: #bbbec1;
$color-black-200: #dddfe0;
$color-black-100: #eeeff0;
$color-black-50: #f6f7f7;

$color-gray-900: #070808;
$color-gray-800: #161817;
$color-gray-700: #2c302e;
$color-gray-600: #3b403e;
$color-gray-500: #4a504d;
$color-gray-400: #6e7371;
$color-gray-300: #929694;
$color-gray-200: #b7b9b8;
$color-gray-100: #dbdcdb;
$color-gray-50: #ededed;

$color-red-light: #ffeeee;
$color-primary-red-light: #eefaff;

// Status colors
$color-status-active: #3dbc59;
$color-status-disabled: #ee2d2d;

// Style color
$color-link: var(--link);
$color-link-dark: var(--link-dark);
$color-text: $color-black-800;
$color-text-gray: var(--gray);
$color-text-inactive: var(--gray-light);
$color-tab-panel: var(--light-black);

$color-header: $color-black-500;
$color-border: rgba(0, 0, 0, 0.23);
$color-placeholder: #9e9e9e;

$color-primary: var(--primary);
$color-primary-background: var(--background);
$color-background-light: var(--primary-light);

$color-secondary: var(--secondary);
$color-danger: var(--danger);
$color-success: var(--success);

$green-gradient-transparent: #22767c95;
$orange-gradient-transparent: #8a722b95;
$red-gradient-transparent: #c6000095;
$option-gradient-transparent: #29287020;

// Font
$font-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'Lato';
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Size
$body-size: 16px;
$color-text-size: 14px;

// button
$button-small: 32px;
$button-normal: 40px;
$button-medium: 48px;

// input
$input-small: 32px;
$input-normal: 56px;
$input-medium: 48px;

$input-padding: 0 12px;
$input-boder-radius: 4px;

// border
$default-border: 1px solid $color-border;
$default-border-primary: 2px solid $color-primary;
$default-space: 12px;
$default-transition: all 0.1s ease-in-out;
$default-transition-med: all 0.2s ease-in-out;
$default-linear-trans: all 0.1s linear;
$default-linear-trans-med: all 0.2s linear;
$default-border-radius: 8px;
$default-border-radius-button: 999px;

$navbar-height: 4rem;
$footer-height: $navbar-height;

$sidebar-width: 288px;
$sidebar-mini-width: 80px;
$sidebar-collapsed-width: 80px;

// reponsive checkpoint
$widescreen: 1440px;
$desktop: 1200px;
$tablet: 900px;
$mobile: 768px;

$form-width: 500px;
$form-width-medium: 770px;
$form-width-bigger: 944px;
$secondary-container-width: 1100px;

$default-shadow: 0px 4px 20px rgba(224, 224, 224, 0.5);

$focus-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 81, 34, 0.6);
$error-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 92, 92, 0.6);

$sidebar-bg-color: #fff;
$icon-bg-color: #001529;
$submenu-bg-color: #000c17;
$submenu-bg-color-collapsed: #000c17;
$sidebar-color: #212121;
$highlight-color: var(--primary) !default;
