@use './vars' as *;
@use './mixin' as *;
@use './helpers' as *;

@import '~bulma';
@import '~bulma-tooltip';
@import './react-phone-input';
@import './react-toastify';
@import './react-mui-tabs';
@import './modal-helpers';
@import './react-datepicker';
@import '../assets/fonts/styles.css';
@import '../assets/icon-fonts/style.css';
@import '~react-pro-sidebar/dist/scss/styles.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  line-height: 150%;
  outline: none;
}

html,
body {
  background: $color-primary-background;
  color: $color-text;
  font: {
    family: $font-primary;
    size: $body-size;
  }
}

html.is-clipped,
html.is-clipped .navbar,
.is-clipped .modal {
  padding-right: 10px;
}

a:focus {
  text-decoration: underline;
}

h1 {
  color: $color-header;
  font: {
    family: $font-primary;
    weight: $font-weight-bold;
  }
  transition: $default-transition-med;
}
h2,
h3,
h4 {
  white-space: pre-wrap;
  color: $color-header;
  font: {
    family: $font-primary;
    weight: $font-weight-medium;
  }
  transition: $default-transition-med;
}

h1 {
  font-size: 48px;
  @include mobileScreen {
    font-size: 36px;
  }
}

h2 {
  font-size: 36px;
  @include mobileScreen {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  font: {
    family: $font-primary;
    weight: $font-weight-bold;
  }
  @include mobileScreen {
    font-size: 20px;
  }
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: $color-black-500;
}

a,
textarea,
input,
select,
button {
  font-family: $font-primary;
  color: $color-black-900;
  font-size: 14px;
  line-height: 150%;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-placeholder;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-placeholder;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-placeholder;
  }
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  color: $color-header;
  margin-bottom: 4px;
  display: block;
  font: {
    size: 14px;
    weight: $font-weight-medium;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
